*, *::after, *::before {
    font-family: 'Cormorant', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors */
/* 
BGC:

body: #ffba08 / #dc2f02;
display: #03071e;
calculator body: #fff3b0;
footer: #370617;

C:

*/