*, *::after, *::before {
    font-family: 'Cormorant', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 32px;
}

/* Colors */
/* 
BGC:

body: #ffba08 / #dc2f02;
display: #03071e;
calculator body: #fff3b0;
footer: #370617;

C:
footer: #c3b4b9;

*/

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    height: 80vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    cursor: pointer;
}

.span--full {
    grid-column: 1 / -1;
}

.span--2 {
    grid-column: span 2;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 24px;
    font-size: 24px;
    background-color: rgba(55, 6, 23, .8);
    color: #c3b4b9;
    border-top: 3px solid #370617;
}